html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(BG3.jpg) 50% 50% no-repeat;
  background-size: cover;
  display: table;
}

.signin {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1em;
  position: absolute;
  top: 50%;
  Left: 50%;
  transform: translate(-50%) translateY(-50%);

}

h2{
  margin-top: -px;
  font-family: "Monument Extended";;
  font-weight: lighter;
  color: #A9A9A9;
  font-size: 50px;
  text-align: center;
}

input {
  display: block;
  width: 320px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  color: #fff;
}

button {
  width: 332px;
  height: 50px;
  font-size: 16px;
  background: 	#000;
  font-weight: lighter;
  color: #A9A9A9;
  border: 0px;
  border-radius: 5px;
  font-family: "Monument Extended";
}